.variant{
    background-color: rgb(193, 164, 240);
    padding: 20px 10px;
    margin: 0px 10px;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
}
 .secimler {
    height: 250px;
  }
.secimler{
    margin-top: 30px;
}
@media (max-width: 600px) {
    .secimler {
    height: 100px;
  }
}
