.variant{
    background-color: rgb(193, 164, 240);
    padding: 20px 10px;
    margin: 0px 10px;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
}
 .secimler {
    height: 200px;
  }
.secimler{
    margin-top: 30px;
}
 #cavab{
    margin-top: 70px;
    }
.like{
background-color: rgb(69, 171, 74);
padding: 20px;
cursor: pointer;
text-align: center;
    margin-top: 30px
}
@media (max-width: 600px) {
    .secimler {
    height: 100px;
  }
    #cavab{
    margin-top: 30px;
    }
     .like{
      margin-top: 10px;
    }
}

